var url = domain + path;
{{#isGET}}
var cached = parameters.$cache && parameters.$cache.get(url);
if(cached !== undefined && parameters.$refresh !== true) {
    deferred.resolve(cached);
    return deferred.promise;
}
{{/isGET}}
var options = {
    timeout: parameters.$timeout,
    method: '{{method}}',
    url: url,
    params: queryParameters,
    data: body,
    headers: headers
};
if(Object.keys(form).length > 0) {
   options.data = form;
   options.headers['Content-Type'] = 'application/x-www-form-urlencoded';
   options.transformRequest = {{&className}}.transformRequest;
}
var result = $http(options);
result.then(function(response){
    deferred.resolve(response.data);
    if(parameters.$cache !== undefined) {
        parameters.$cache.put(url, response.data, parameters.$cacheItemOpts ? parameters.$cacheItemOpts : {});
    }
}).catch(function(response){
    deferred.reject(response);
});
