import axios from 'axios';
import * as Q from 'q';
/**
* {{&description}}
* @class {{&className}}
* @param {(string|object)} [domainOptions] - The project domain or optoins object. If object, see the object's optional properties.
* @param {string} [domainOrOptions.domain] - The project domain
* @param {object} [domainOrOptions.token] - auth token - object with value property and optional headerOrQueryName and isQuery properties.
*/
class {{&className}} {
constructor(options) {
const domain = (typeof options === 'object') ? options.domain : options;
this.domain = domain ? domain : '{{&domain}}';
if( this.domain.length === 0 ) {
throw new Error('Domain parameter must be specified as a string.');
}
const getApiKey = (typeof options === 'object' && options.getApiKey) ? options.getApiKey : undefined;
this.getApiKey = (typeof getApiKey === 'function') ? getApiKey : undefined;
{{#isSecure}}
    this.token = (typeof options === 'object') ? (options.token ? options.token : {}) : {};
{{/isSecure}}
}

{{#isSecure}}
    /**
    * Set Token
    * @method
    * @name {{@className}}#setToken
    * @param {string} value - token's value
    * @param {string} headerOrQueryName - the header or query name to send the token at.
    * @param {boolean} isQuery - true if send the token as query param, otherwise, send as header param.
    *
    */
    setToken(value, headerOrQueryName, isQuery) {
    this.token.value = value;
    this.token.headerOrQueryName = headerOrQueryName;
    this.token.isQuery = isQuery;
    }
{{/isSecure}}

{{#methods}}
    {{>method}}
{{/methods}}
}

export default {{&className}};
