{{#imports}}
/// <reference path="{{.}}" />
{{/imports}}

export interface {{&className}} {
{{#methods}}
    {{&methodName}}(parameters : {
    {{#parameters}}
        '{{name}}'{{#isOptional}}?{{/isOptional}}: {{>type}}
    {{/parameters}}
    }): {{#resultFn}}{{#responseType}}{{>type}}{{/responseType}}{{^responseType}}any{{/responseType}}{{/resultFn}};

{{/methods}}

{{#__methods}}
    __{{&methodName}}(parameters : {
    {{#parameters}}
        '{{name}}'{{#isOptional}}?{{/isOptional}}: {{>type}}
    {{/parameters}}
    }): {{#resultFn}}{{#responseType}}{{>type}}{{/responseType}}{{^responseType}}any{{/responseType}}{{/resultFn}};

{{/__methods}}
}

// data types
{{#definitions}}
export interface {{name}} {{>type}}

{{/definitions}}
