{{#imports}}
import {{name}} from '{{path}}';
{{/imports}}

{{#isES6}}export default {{/isES6}}interface {{&className}} {
{{#methods}}
    {{&methodName}}(parameters : {
    {{#parameters}}
        '{{name}}'{{#isOptional}}?{{/isOptional}}: {{>type}}
    {{/parameters}}
    }): {{#resultFn}}{{#responseType}}{{>type}}{{/responseType}}{{^responseType}}any{{/responseType}}{{/resultFn}};

{{/methods}}
}

// data types
{{#definitions}}
{{#isES6}}export {{/isES6}}interface {{name}} {{>type}}

{{/definitions}}
